USE [master]
GO
/****** Object:  Database [covid]    Script Date: 16/09/2025 15:17:35 ******/
CREATE DATABASE [covid]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'covid', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\covid.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'covid_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\covid_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [covid].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [covid]
GO
/****** Object:  Table [dbo].[DeathsPerMillion]    Script Date: 16/09/2025 15:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeathsPerMillion](
	[Entity] [nvarchar](100) NULL,
	[Day] [date] NULL,
	[Deaths_per_million] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Total de Mortes por País]    Script Date: 16/09/2025 15:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Total de Mortes por País] AS
SELECT Entity AS pais, SUM(Deaths_per_million) AS total_mortes_por_milhao
FROM DeathsPerMillion
GROUP BY Entity;
GO
USE [master]
GO
